  <!--   <table mat-table [dataSource]="getStudents()">
    <mat-text-column name="id"></mat-text-column>
    <mat-text-column name="name"></mat-text-column>
    <mat-text-column name="department"></mat-text-column>
    <mat-text-column name="bdate"></mat-text-column>

    <ng-container matColumnDef="level">
        <th mat-header-cell *matHeaderCellDef>level</th>
        <td mat-cell *matCellDef="let item"> {{item.level}} </td>
    </ng-container>
    
    <ng-container matColumnDef="buttons">
        <th mat-header-cell *matHeaderCellDef></th>
        <td mat-cell *matCellDef="let item">
            <button mat-flat-button class="btnDelete" color="accent" (click)="deleteStudent(item.id)">
                Delete
            </button>
            <button mat-flat-button color="warn" [routerLink]="['/form', 'edit', item.id]">
                Edit
            </button>
    </ng-container>
    <tr mat-header-row *matHeaderRowDef="colsAndRows"></tr>
    <tr mat-row *matRowDef="let row; columns: colsAndRows"></tr>
</table>  --> 

<table class="table table-sm table-bordered table-striped">
    <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>department</th>
            <th>bdate</th>
            <th>Gender</th>
            <th>level</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let item of getStudents()">
            <td>{{item.id}}</td>
            <td>{{item.name}}</td>
            <td>{{item.department}}</td>
            <td>{{item.bdate | date:'dd/MM/yyyy'}}</td>
            <td>{{item.gender}}</td>
            <td>{{item.level }}</td>
            <td class="text-center">
                <button class="btn btn-danger btn-sm m-1" (click)="deleteStudent(item.id)">
                
                    Delete
                </button>
                  
                <button  class="btn btn-warning btn-sm" [routerLink]="['/form', 'edit', item.id]">
                    Edit
                </button>
            </td>
        </tr>
    </tbody>
</table>  

<div class="p-2 text-center">
    <button  class="btn btn-primary mt-1" routerLink="/form/create">
            Create New Student
        </button>      
</div>  